<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>watchgopher</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/mrnugget/code/go/bin/watchgopher</string>
      <string>/Users/mrnugget/.watchgopher</string>
    </array>
    <key>UserName</key>
    <string>mrnugget</string>
    <key>StandardOutPath</key>
    <string>/Users/mrnugget/.watchgopher.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/mrnugget/.watchgopher.log</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
  </dict>
</plist>
